.body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    background-image: url();
    background-size: cover;
}
section{
    min-height: 640px;
    padding-top: 5rem;
}
html{
    scroll-behavior: smooth;
}
.navbar-nav i{
    margin-right: 5px;
}
.btn i{
    margin-left: 5px;
}
.btn{
    border-radius: 20px;
}
.card .btn{
    border-radius: 20px;
}
@media (min-width: 992px) {
    .nav-link{
        margin-right: 30px;
    }
    .text{
        text-align: center;
    }
}

#preloader{
    background: #fff url(img/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}